# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Practica_1/.project
Practica_1/.settings/com.atollic.truestudio.debug.hardware_device.prefs
Practica_1/.settings/language.settings.xml
Practica_1/.settings/org.eclipse.cdt.managedbuilder.core.prefs
Practica_1/Libraries/CMSIS/Include/arm_common_tables.h
Practica_1/Libraries/CMSIS/Include/arm_const_structs.h
Practica_1/Libraries/CMSIS/Include/arm_math.h
Practica_1/Libraries/CMSIS/Include/core_cm0.h
Practica_1/Libraries/CMSIS/Include/core_cm0plus.h
Practica_1/Libraries/CMSIS/Include/core_cm3.h
Practica_1/Libraries/CMSIS/Include/core_cm4.h
Practica_1/Libraries/CMSIS/Include/core_cm4_simd.h
Practica_1/Libraries/CMSIS/Include/core_cmFunc.h
Practica_1/Libraries/CMSIS/Include/core_cmInstr.h
Practica_1/Libraries/CMSIS/Include/core_sc000.h
Practica_1/Libraries/CMSIS/Include/core_sc300.h
Practica_1/Libraries/CMSIS/RTOS/cmsis_os.h
Practica_1/Libraries/Device/ST/STM32F4xx/Include/stm32f4xx.h
Practica_1/Libraries/Device/ST/STM32F4xx/Include/system_stm32f4xx.h
Practica_1/Libraries/Device/ST/STM32F4xx/Release_Notes.html
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/misc.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_adc.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_can.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_crc.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_cryp.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_dac.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_dbgmcu.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_dcmi.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_dma.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_dma2d.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_exti.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_flash.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_fmc.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_gpio.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_hash.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_i2c.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_iwdg.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_ltdc.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_pwr.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_rcc.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_rng.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_rtc.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_sai.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_sdio.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_spi.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_syscfg.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_tim.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_usart.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_wwdg.h
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/Release_Notes.html
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/misc.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_adc.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_can.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_crc.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_cryp.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_cryp_aes.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_cryp_des.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_cryp_tdes.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_dac.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_dbgmcu.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_dcmi.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_dma.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_dma2d.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_exti.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_flash.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_fmc.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_gpio.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_hash.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_hash_md5.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_hash_sha1.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_i2c.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_iwdg.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_ltdc.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_pwr.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_rcc.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_rng.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_rtc.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_sai.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_sdio.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_spi.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_syscfg.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_tim.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_usart.c
Practica_1/Libraries/STM32F4xx_StdPeriph_Driver/src/stm32f4xx_wwdg.c
Practica_1/Practica_1.elf.launch
Practica_1/src/lcd_log_conf.h
Practica_1/src/startup_stm32f429x.s
Practica_1/src/stm32f4xx_conf.h
Practica_1/src/stm32f4xx_it.c
Practica_1/src/stm32f4xx_it.h
Practica_1/src/system_stm32f4xx.c
Practica_1/src/tiny_printf.c
Practica_1/stm32f4_flash.ld
Practica_1/Utilities/Common/fonts.c
Practica_1/Utilities/Common/fonts.h
Practica_1/Utilities/Common/lcd_log.c
Practica_1/Utilities/Common/lcd_log.h
Practica_1/Utilities/Common/Release_Notes.html
Practica_1/Utilities/Common/stm32_eval_legacy.h
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery.c
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery.h
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery_i2c_ee.c
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery_i2c_ee.h
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery_ioe.c
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery_ioe.h
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery_l3gd20.c
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery_l3gd20.h
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery_lcd.c
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery_lcd.h
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery_sdram.c
Practica_1/Utilities/STM32F429I-Discovery/stm32f429i_discovery_sdram.h
Practica_1/.cproject
Practica_1/Debug/Practica_1.list
